<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @keyframes slideIn {
            from {
                transform: rotate3d(1, 1, 1, 0deg);
            }

            to {
                transform: rotate3d(1, 1, 1, 360deg);
            }
        }

        .Box {
            width: 100px;
            height: 100px;
            background-color: blue;
            text-align: center;
            animation-name: slideIn;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
        }
    </style>
</head>

<body>
    <div class="Box">
        <p>card</p>
    </div>
</body>

</html>